<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="sub/css/style.css">
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
      
      <nav id="sidebar">
				<div class="p-4 pt-5">
		  		<a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>
	        <ul class="list-unstyled components mb-5">
            <li>
              <a href="/">Home</a>
          </li>
	          <li>
	              <a href="/addProduct">Add Product</a>
	          </li>
	          
	          <li>
              <a href="/category">Add Category</a>
	          </li>
	          <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="/logout">logout</a>
	          </li>
	        </ul>

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="" target="_blank">Usama Naseer (Junior Mern Stack Developer)</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
               
              </ul>
            </div>
          </div>
        </nav>

        <div class="container-fluid">
          <div class="row">
          <div class="col-md-3 ">
          <div class="box bg-primary border border-primary rounded">
          <i class="fa fa-eye"></i>
          <h3><%= data %></h3>
          <p class=" text-body lead">Total Product</p>
          </div>
          </div>
          <div class="col-md-3">
          <div class="box bg-danger border border-primary rounded">
          <i class="fa fa-user-o"></i>
          <h3>3443</h3>
          <p class="lead text-body">User registered</p>
          </div>
          </div>
          <div class="col-md-3">
          <div class="box bg-warning border border-primary rounded">
          <i class="fa fa-shopping-cart"></i>
          <h3>5,154</h3>
          <p class="lead text-body">Product sales</p>
          </div>
          </div>
          <div class="col-md-3">
          <div class="box bg-success border border-primary rounded">
          <i class="fa fa-handshake-o"></i>
          <h3>5,154</h3>
          <p class="lead text-body">Transactions</p>
          </div>
          </div>
          </div>
          </div>


    <script src="sub/js/jquery.min.js"></script>
    <script src="sub/js/popper.js"></script>
    <script src="sub/js/bootstrap.min.js"></script>
    <script src="sub/js/main.js"></script>
  </body>
</html>