
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


       
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>

<form method="POST" action="http://localhost:3000/createCategory">
 
    <div class="form-group"  style="text-align:center;" >
      <label for="exampleInputPassword1">Enter Category name</label>
      <input id='input' type="text" class="form-control container" name="category" placeholder="category" style="width: 50%" required >
    </div>
    <button  id='button' class="btn btn-primary" style="margin-left: 48%;" >Submit</button> 
   

  </form>
 

  <div class="container">
    <h2>Category List</h2>
    <p>this is the list of category you can add and remove category</p>            
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(record, index) { %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= record.category %></td>
          <td><a class="btn btn-danger" href="/delete/<%= record._id %>"><i class="fa fa-trash-o"></i></a></td>
        </tr>
        <% }) %>
    
      </tbody>
    </table>
  </div>