<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal" method="POST" action="/homeImage" enctype='multipart/form-data'>
<fieldset>

<!-- Form Name -->
<legend>PRODUCTS</legend>




<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>  
  <div class="col-md-4">
  <input id="product_name" name="title" placeholder="PRODUCT NAME" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name_fr">PRODUCT DESCRIPTION</label>  
  <div class="col-md-4">
  <input id="product_name_fr" name="description" placeholder="PRODUCT DESCRIPTION " class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_categorie">PRODUCT CATEGORY</label>
  <div class="col-md-4">
    <select id="product_categorie" name="category" class="form-control">
      <% for(var i = 0; i < data.length; i++) {%>
        <option><%= data[i].category %></option>
      <% } %>
    </select>
  </div>
</div>

<!-- Text input-->



<!-- Text input-->




</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="percentage_discount">DISCOUNT</label>  
  <div class="col-md-4">
  <input id="percentage_discount" name="discount" placeholder="PERCENTAGE DISCOUNT" class="form-control input-md" required="" type="text">
    
  </div>
</div>













<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="enable_display">Price</label>  
  <div class="col-md-4">
  <input id="enable_display" name="price" placeholder="ENABLE DISPLAY" class="form-control input-md" required="" type="text">
    
  </div>
</div>





    
  <div class="form-group">
  <label class="col-md-4 control-label" for="approuved_by">Upload image</label>  
  <div class="col-md-4">
  <input type="file" id="myfile" name="productImage"><br><br>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
  </div>
  </div>

</fieldset>
</form>
